/*nav bar*/
body{
    background-color: black;
}
.carousel{
    border: 10px solid black;
    padding: 10px;
    background: white;
    background-clip: padding-box;
    box-shadow: 5px 5px 10px black;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar-default{
  background: -webkit-linear-gradient(#5A0000, #920000, #5A0000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5A0000, #920000, #5A0000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5A0000, #920000, #5A0000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5A0000, #920000, #5A0000); /* Standard syntax */
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fafafb; // white text color of the nav bar
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  color: white; // white text color of nav bar when hovering
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  background-color: black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a{
    webkit-transition:  all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
    -ms-transition:     all 0.6s ease;
    transition:         all 0.6s ease;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fafafb; // current tab text color 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: black;
}

.navbar-default .navbar-toggle {
  border-color: #8770f6; // mobile view, menu bar border color
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: black; //mobile view, background of menu bar when you clicked
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fafafb; //mobile view, text color of the menu bar
}


/* Cinema.html */
.modalcaption{
    font-size: x-small;
	text-align: left;
}

.heading1
{
    font-size: smaller;
    font-weight: bold;
    text-align:center;
    padding-right: 30%;
}


.subheader{
    font-weight: bold;
    text-decoration: underline;
}

.modal-dialog{
    border:solid 1px black;
}

.aligning{
    text-align: center;
}

button > .img-rounded{
    box-shadow: 5px 5px 10px black;
}

.btn-link{
    color: white;
    margin:auto;
    webkit-transition:  all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -o-transition:      all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
}

center .btn-link:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2);
    z-index: 10;
}
.translucentbg{
     background-color: rgba(0, 0, 0, 0.4);
     padding-bottom: 10px
}

footer{
    padding-top: 300px;
    color: white;
    text-align: center;
}
#intro { 
    background: url(../pictures/intro2.png) no-repeat 50% 0 fixed;
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    padding-bottom: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home { 
    background: url(../pictures/home.png) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding-top: 250px;
}

@media(max-width:767px){
    #home{
        padding-top: 50px;
    }
}

.well{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    webkit-transition:  all 0.4s ease;
    -moz-transition:    all 0.4s ease;
    -o-transition:      all 0.4s ease;
    -ms-transition:     all 0.4s ease;
    transition:         all 0.4s ease;
}

.well:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

span .glyphicon{
    color: black;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px; /* height of link element */
    right: 10px; /* padding from the left side of the window */
}

.BookingDetailsfontColor{
    color: white;
}

.img-booking-details{
    float: left;
    margin-right: 10px;
}

.BookingDetailsTimingBackground{
    background: rgba(255,255,255,0.8);
}